body{

	     width: 70%;
	     color: white;
	     background-color: #B0C4DE;
	     margin: auto;
	     text-align: center;
      font-family: Script, sans-serif;

}
.header{

  background-image: url('../images/colorful.jpg');
    background-size: cover;

}

h1, h2{
  
  margin: 25;
  padding: .9em;
  border-bottom: 1px solid #E6E6FA;
    
}
.content{

  background-color: #778899;

}

.result{

	text-align: left;
	background-color: #8e9a9a;
	color: white;
	display: inline-block;
	padding: 1.5em;
      border-top: thin solid #3d4242;
      border-left: thin solid #3d4242;
      border-bottom: thin solid #3d4242;
      border-right: thin solid #3d4242;

}

.input{

	margin: 0 auto;
	display: block;

}

fieldset{

	display: inline-block;
	margin: auto 10px;

}

ul {

	padding-left: 0px;

}

ul li {

	list-style: none;
	text-align: left;

}


input[type='submit']{

    font-size: 16px;
    margin: 1em;
    padding: .5em;
    height: 2.5em;
    width: 10em;
    background-color: #FFCB00;

}

.button {

    display: inline-block;
   border-top: 1px solid #2F4F4F;
   background: #2F4F4F;
   background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9), to(#2F4F4F));
   background: -webkit-linear-gradient(top, #A9A9A9, #2F4F4F);
   background: -moz-linear-gradient(top, #A9A9A9, #2F4F4F);
   background: -ms-linear-gradient(top, #A9A9A9, #2F4F4F);
   background: -o-linear-gradient(top, #A9A9A9, #2F4F4F);
   margin:10px;
    padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #DCDCDC;
   font-size: 14px;
   font-family: Script, serif;
   text-decoration: none;
   vertical-align: middle;

   }

.button:hover {

   border-top-color: #F0FFFF;
   background: #F0FFFF;
   color: #000000;

   }

.button:active {

   border-top-color: #6495ED;
   background: #6495ED;

   }